*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: #424141;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-photo{
    width: 120px;
}

.menus{
    display: flex;
    
}

.item{
    margin-right: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.item:hover{
    color: aqua;
    cursor: pointer;
}

.banner-img{
    width: 300px;
    
}
.banner-container{
    display: flex;
   justify-content: space-around;
    height: 100vh;
   /*border: 5px solid grey;*/
   color: white;
   align-items: center;
   background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
   
}

.title{
      font-size: 55px;
      font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    
}
.about-container{
    display: flex;
    justify-content: space-around;
}

.about-img{
    width: 200px;
    margin-right: 30px;
    margin-top: 40px;
}

.about-title{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.about-text{
    margin-top: 30px;
    
}